body {
/* Off-White */     background-color: rgb(230, 210, 200);
/* Black */         color: rgb(0, 0, 0);
/* Red */           color: rgb(130, 20, 20);
/* Blue */          color: rgb(80, 130, 180);
/* White */         color: rgb(255, 255, 255);
 /*formatting standard*/
width: 70%;
 margin: 0 auto;  
 max-width: 1400px;   
 padding: 40px 60px;
   line-height: 1.6; 
   font-family: 'Inter', sans-serif; 
    margin-top: 40px;
    margin-bottom: 50px;

}
/*byline formatting*/
.byline {
    font-style:oblique;
  color: #312f2f;
 font-size: 0.85em;
  margin-bottom: 20px;
}
/* The above colors are used in the following elements: */

h1 {
    /* Red */           color: rgb(130, 20, 20);
}

h2 {
    /* Blue */          color: rgb(80, 130, 180);
}

h3 {
    /* Black */     color: rgb(0, 0, 0); 
}

p {
    /* Black */     color: rgb(0, 0, 0);
}

a {
    /* blue */     color: rgb(80, 130, 180);
}


/*flexbox*/
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;/* may delete */
    align-content: center; /* may delete */
    background-color: rgb(80, 130, 180);
}

.navbar { /* style for nav bar, including colors and padding; adopted from sample code */
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background: rgb(80, 130, 180);
  color: white;
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav-buttons { /* nav bar buttons format; adopted from sample code */
  display: flex;
  gap: 1em;
}

.nav-item { /* each button text */
  padding: 0.5em 1em;
  color: black;
  text-decoration: none;
  font-size:1.2em;
  font-weight:bold;
}

.hamburger { /* don't display the hamburger on the desktop pages */
  display: none;
}

/* orientation */
@media (orientation: portrait) {
    .flex-container {
        flex-direction: column;
    }

     .nav-buttons { /* don't show buttons on the nav bar */
    display: none;
  }
  .nav-buttons.active { /* show the nav buttons in a column */
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: rgb(80, 130, 180);
    padding: 1em;
  }

   body { /* change the body width to fill the screen more */
    width: 90%;
    font-size: 2em;
 }

 .hamburger { /* show hamburger menu */
  display: block;
}
}
@media (orientation: landscape) {
    .flex-container {
        flex-direction: row;
    }
}

/* PROGRESS BAR */
#progress-bar {
    position: fixed;
    right: 20px;
    top: 50px;
    width: 8px;
    height: 0;
    background-color: #5082B4;
    border-radius: 10px;
    z-index: 9999;
}

/* SCROLLYTELLY STYLES */
/* SCROLLYTELLY: content */
#content {
    padding-bottom: 20px;
    width: 100%;
}

/* SCROLLYTELLY: story text */
#story {
    line-height: 1.2em;
}

#story p {
    margin-bottom: 1em;
}

/* SCROLLYTELLY: story links */
a {
    color: black;
    text-decoration: none;
    border-bottom: 1px solid currentColor;
}

/* SCROLLYTELLY: story title */
.story_title {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.25;
    margin-bottom: 0.75rem;
    font-weight: bold;
    color: black;
}

/* SCROLLYTELLY: story description */
.story_description {
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.45;
    margin-bottom: 0.75rem;
}

/* SCROLLYTELLY: scroll layout */
#scroll {
    margin-left: 0;
    display: flex;
    align-items: stretch;
    gap: 5px;
    margin-left: 0;
    position: relative;
}

/* SCROLLYTELLY: story text box (left) */
article {
    width: 100%;
    margin: 0;
    padding-left: 0;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    flex: 0 0 50%;
}

/* SCROLLYTELLY: story step text (left) */
.step {
    padding: 1rem;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 8px;
    background-color: white;
    margin-bottom: 2rem;
    height: auto;
    min-height: 400px;
    padding-top: 5vh;
}

/* SCROLLYTELLY: story step media (right) */
.scrolly-media {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* SCROLLYTELLY: active step */
.step.is-active {
    border: 4px solid black;
    background-color: #5082B4;
}

.step p {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    padding: 0.25rem 0;
}

/* SCROLLYTELLY: story media box (right) */
figure {
    position: sticky;
    top: 20vh;
    width: 100%;
    background-color: #5082B4;
    border: 4px solid black;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0;
}

/* SCROLLYTELLY: story media box (right) */
#figure-column {
    flex: 0 0 50%;
    align-self: stretch;
}

/* SCROLLYTELLY: story media box (right) */
#scrolly-media-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* SCROLLYTELLY: story media box (right) */
.scrolly-media,
#scrolly-figure img,
#scrolly-figure iframe {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}