body {
/* Off-White */     background-color: rgb(230, 210, 200);
/* Black */         color: rgb(0, 0, 0);
/* Red */           color: rgb(130, 20, 20);
/* Blue */          color: rgb(80, 130, 180);
/* White */         color: rgb(255, 255, 255);
 /*formatting standard*/
width: 50%;
 margin: auto;     
 padding: 10px;
   line-height: 1.6; 
   font-family: 'Inter', sans-serif; 
    margin-top: 40px;
    margin-bottom: 50px;

}
/*byline formatting*/
.byline {
    font-style:oblique;
  color: #312f2f;
 font-size: 0.85em;
  margin-bottom: 20px;
}
/* The above colors are used in the following elements: */

h1 {
    /* Red */           color: rgb(130, 20, 20);
}

h2 {
    /* Blue */          color: rgb(80, 130, 180);
}

h3 {
    /* Black */     color: rgb(0, 0, 0); 
}

p {
    /* Black */     color: rgb(0, 0, 0);
}

a {
    /* blue */     color: rgb(80, 130, 180);
}


/*flexbox*/
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;/* may delete */
    align-content: center; /* may delete */
    background-color: rgb(80, 130, 180);
}

.navbar { /* style for nav bar, including colors and padding; adopted from sample code */
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background: rgb(80, 130, 180);
  color: white;
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav-buttons { /* nav bar buttons format; adopted from sample code */
  display: flex;
  gap: 1em;
}

.nav-item { /* each button text */
  padding: 0.5em 1em;
  color: black;
  text-decoration: none;
  font-size:1.2em;
  font-weight:bold;
}

.hamburger { /* don't display the hamburger on the desktop pages */
  display: none;
}

/* orientation */
@media (orientation: portrait) {
    .flex-container {
        flex-direction: column;
    }

     .nav-buttons { /* don't show buttons on the nav bar */
    display: none;
  }
  .nav-buttons.active { /* show the nav buttons in a column */
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: rgb(80, 130, 180);
    padding: 1em;
  }

   body { /* change the body width to fill the screen more */
    width: 90%;
    font-size: 2em;
 }

 .hamburger { /* show hamburger menu */
  display: block;
}
}
@media (orientation: landscape) {
    .flex-container {
        flex-direction: row;
    }
}