body {
/* Off-White */     background-color: rgb(230, 210, 200);
/* Black */         color: rgb(0, 0, 0);
/* Red */           color: rgb(130, 20, 20);
/* Blue */          color: rgb(80, 130, 180);
/* White */         color: rgb(255, 255, 255);
}

/* The above colors are used in the following elements: */

h1 {
    /* Red */           color: rgb(130, 20, 20);
}

h2 {
    /* Blue */          color: rgb(80, 130, 180);
}

h3 {
    /* Black */     color: rgb(0, 0, 0); 
}

p {
    /* Black */     color: rgb(0, 0, 0);
}

a {
    /* blue */     color: rgb(80, 130, 180);
}


/*flexbox*/
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;/* may delete */
    align-content: center; /* may delete */
    background-color: rgb(80, 130, 180);
}

/* orientation */
@media (orientation: portrait) {
    .flex-container {
        flex-direction: column;
    }
}
@media (orientation: landscape) {
    .flex-container {
        flex-direction: row;
    }
}